@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*
{

	background-color:black;
	color:white;
}

body
{
	font-family: arial;
	font-size: 1em;
}

h1
{
	color:yellow;
	border: 5px double yellow;
	font-family: 'bebasregular';
	padding:3%;
	text-align: center;
	font-size: 2em;
	

}

table
{
	border-collapse:collapse;
	width:75%;
	text-align:left;
	margin-bottom: 5%;
	margin:auto;

}

caption
{
	
	font-weight:bold;
	text-transform: uppercase;
	margin:3%;
	text-align: left;
	color:yellow;
}

table,td
{
	border: 1px solid yellow;
}

td
{
	padding: 1%;
	vertical-align:middle;
	font-style:oblique;
}

.commande
{
	font-weight: bold;
}



/*=========================================*/
/*=========================================*/
/*============RESP TEL TAB=================*/
/*=========================================*/
/*=========================================*/

@media screen and (max-width: 980px)

{



section
{
	font-size: 1em;
}

table
{
	width:100%;
}


}